# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
bin/
.idea/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride


### Project Specific ###
node_modules/