<div class="row">
    <div class="col-md-4 text-center">
        <p class="nbr-huge">{{parentController.globalStat.wordAmount}}</p>
        <p class="nbr-desc">Words</p>
    </div>
    <div class="col-md-4 text-center">
        <p class="nbr-huge">{{parentController.globalStat.messageAmount}}</p>
        <p class="nbr-desc">Messages</p>
    </div>
    <div class="col-md-4 text-center">
        <p class="nbr-huge">{{parentController.globalStat.senderAmount}}</p>
        <p class="nbr-desc">Persons</p>
    </div>
</div>
<div class="row">
    <div id="history-chart" class="col-md-12"></div>
</div>