<div id="app-body">{{outlet}}</div>


<footer class="site-footer">
    <div class="container">
        <p class="text-muted">© {{year}} <a href="mailto:robert.erdin@gmail.com">Robert Erdin</a> <span class="desktop">— All Rights Reserved.</span> </p>
    </div>
</footer>