<div class="container results">
    <div class="page-header">
        <h1>Statistics <small>Friendship, devastation, and resistance.</small></h1>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">{{#link-to 'results.index'}}Overview{{/link-to}}</li>
        <li><a href="#">Participants</a></li>
        <li><a href="#">Visual</a></li>
        <li><a href="#">Tabular</a></li>
    </ul>

    {{outlet}}

</div>