<div class="jumbotron">
    <div class="container">
        <h1>WhatsApp Statistics</h1>
        <p>Starships resist from tragedies like huge protons. Countless collectives empower clear, delighted pathways. The solid ship virtually beams the spacecraft. </p>
    </div>
</div>

<div id="index" class="container">
    <div class="row">
        <div class="col-md-12 center-block">
            <h2>Let us do the magic:</h2>
            <div class="row vertical-align">
                <div class="col-md-3"><span class="circle">1</span></div>
                <div class="col-md-2"><span class="glyphicon glyphicon-envelope front-glyphicon" aria-hidden="true"></span></div>
                <div class="col-md-7"><span class="front-lead">send history to stats@beta.thatsapp.io</span></div>
            </div>
          <hr/>
            <div class="row vertical-align">
                <div class="col-md-3"><span class="circle">2</span></div>
                <div class="col-md-2"><span class="glyphicon glyphicon-stats front-glyphicon" aria-hidden="true"></span></div>
                <div class="col-md-7"><span class="front-lead">receive your statistics by e-mail</span></div>
            </div>
          <hr/>
            <div class="row vertical-align">
                <div class="col-md-3"><span class="circle">3</span></div>
                <div class="col-md-2"><span class="glyphicon glyphicon-sunglasses front-glyphicon" aria-hidden="true"></span></div>
                <div class="col-md-7"><span class="front-lead">deal with it!</span></div>
            </div>
        </div>
    </div>
  <hr/>

</div>