<div class="jumbotron">
    <div class="container">
        <h1>Whats App Statistics</h1>
        <p>Starships resist from tragedies like huge protons. Countless collectives empower clear, delighted pathways. The solid ship virtually beams the spacecraft. </p>
    </div>
</div>

<div id="index" class="container">
    <div class="row">
        <div class="col-md-6 center-block">
            {{#unless parsed}}
                <form role="form">
                    <div class="form-group">
                        <h3>Select Whats App chat file below:</h3>
                        <input type="file" id="inputFile" title="<span class='glyphicon glyphicon-folder-open'></span>   Search for a file to add" data-filename-placement="inside">
                        <p class="help-block">Cold teleporters, to the moon?</p>
                    </div>
                    <button {{action 'submitFile'}} type="submit" class="btn btn-default" style="width: 186px;">
                        <span class="glyphicon glyphicon-upload"></span>
                    </button>
                </form>
            {{/unless}}
        </div>
        <div class="col-md-6 center-block">
            {{#if parsing}}
                <h3>Parsing...</h3>
                <div class="parseProgress">
                    {{parseProgress}}%
                </div>
            {{/if}}
        </div>
    </div>

</div>