{{basic-statistics model=model}}
{{vocabulary-cloud model=model.statistics.vocabulary}}
<div id="timeline" class="row">
    <h1 class="text-center">Timeline</h1>

    <div class="col-md-12">
        {{chartist-chart ratio="ct-golden-section" options=historyChart.chartOptions data=historyChart.chartData}}
    </div>
</div>