<div class="row">
    <div class="col-md-4 text-center">
        <p class="nbr-huge">{{parentController.model.statistics.wordAmount}}</p>
        <p class="nbr-desc">Words</p>
    </div>
    <div class="col-md-4 text-center">
        <p class="nbr-huge">{{parentController.model.statistics.messageAmount}}</p>
        <p class="nbr-desc">Messages</p>
    </div>
    <div class="col-md-4 text-center">
        <p class="nbr-huge">{{parentController.model.participants.length}}</p>
        <p class="nbr-desc">People</p>
    </div>
</div>
<div id="timeline" class="row">
    <h1 class="text-center">Timeline</h1>
    <div id="history-chart" class="col-md-12"></div>
</div>