<select onchange={{action "selectParticipant" value="target.value"}}>
    <option value="">Plsease select a person</option>
    {{#each model.participants as |participant|}}
        <option value={{participant.id}}>{{participant.name}}</option>
    {{/each}}
</select>
{{basic-statistics model=currentParticipant}}