<div class="row">
    <div class="col-md-4 text-left">
        <h2 class="text-center">Messages sent</h2>
		<p class="ladder-subtitle text-center">Cant. Stop. Typing.</p>
		<div id="chart-ladder-messages"></div>
    </div>
    <div class="col-md-4 text-left">
        <h2 class="text-center">Media sent</h2>
		<p class="ladder-subtitle text-center">Look at those cat pics!</p>
    </div>
    <div class="col-md-4 text-left">
        <h2 class="text-center">Vocabulary used</h2>
        <p class="ladder-subtitle text-center">whut m8, do u even english?</p>
    </div>
</div>
<div id="timeline" class="row">
    <h1 class="text-center">Timeline</h1>
    <div id="history-chart" class="col-md-12"></div>
</div>