<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Tablular</a></li>
        <li><a href="#">Visual</a></li>
        <li><a href="#">Whatever</a></li>
    </ul>
</div>