<div>
    <h3>Sharing is caring</h3>
    <a href="whatsapp://send?text={{url}}" data-action="share/whatsapp/share">Share via Whatsapp</a>
    <a href="http://www.facebook.com/share.php?u={{url}}">Share to Facebook</a>
</div>