<div id="shareSocial">
    <h3>Sharing is caring</h3>
    {{#if isMobile}}
        <div class="row">
            <div class="col-md-12">
                <input type="image" class="iconLarge center-block"
                       onclick={{action "shareWhatsApp" url}} src="assets/images/ico_whatsapp.png"/>
            </div>
        </div>
    {{/if}}

    <div class="row">
        <div class="col-md-4">
            <a href="http://www.facebook.com/share.php?u={{url}}">
                <img class="iconSmall center-block" src="assets/images/ico_facebook.png">
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://twitter.com/intent/tweet?text=Check%20out%20the%20statistics%20of%20my%20WhatsApp%20chat!%20{{url}}">
                <img class="iconSmall center-block" src="assets/images/ico_tweet.png"/>
            </a>
        </div>
        <div class="col-md-4">
            <a href="mailto:?subject=Check%20out%20the%20statistics%20of%20our%20WhatsApp%20chat!&amp;body=There%20you%20go%3A%20{{url}}">
                <img class="iconSmall center-block" src="assets/images/ico_email.png">
            </a>
        </div>
    </div>
</div>