

/* Custom page CSS
-------------------------------------------------- */
@import "variables";
@import "home";
@import "results";
@import "footer";
@import "share-social";


/* deprecated */
.emoji {
    font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji", "OpenSansEmoji-Regular";
    font-size: 30px;
}


.vertical-align {
  display: flex;
  align-items: center;
}

.ember-view{
  margin-bottom: 80px;
}
